<div id="indicatorApp"></div>

<script>
  $(document).ready(function() {
    initIndicatorApp(
      {
        indicatorId: 1,
        monthTypes: ['m', 'cc'],
        selection: {
          noMonths: 36,
          monthType: 'cc',
          dimension: 'departments',
          elements: {
            sources: 'all',
            products: '1'
          }
        }
      }, 
      $('#indicatorApp').get(0)
    );
  });
</script>