body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#indicatorApp {
  ul.focusDimension li {
    height: 37px;
  }
  ul.focusDimension li > a {
    padding: 8px 15px;
  }
}

.handson {
  width: 100%;
  height: 400px;
}